.registerSecondStepDom .am-navbar-left{
  font-size: 18px;
}
.registerSecondStepDom .am-navbar{
  margin-bottom: 30px;
}
.registerSecondStepDom .am-list-item{
  height: 60px;
}
.registerSecondStepDom .am-textarea-label{
  height: 60px;
  line-height: 60px;
}
.inputPass{
  margin-top: 30px;
}
.registerSecondStepDom .confirmBtn{
  width: 95%;
  margin:0 auto;
  margin-top: 40px;
}
