.registerDom .am-navbar-left{
  font-size: 18px;
}
.registerDom .am-list-item-middle{
  height: 60px;
}
.registerDom .am-navbar{
  margin-bottom: 30px;
}
.registerInput .am-list-item.am-input-item{
  height: 60px;
}
.registerBtn{
  clear: both;
  width: 95%;
  margin:0 auto;
  margin-top: 30px;
}
.registerInput .emailCode{
  position: relative;
}
.registerInput .sendCaptcha{
  position: absolute;
  top:0;
  right: 0;
  height: 60px;
  padding:16px 0;
  box-sizing: border-box;
  width: 30%;
}
.registerInput .sendCaptcha .sendTxt{
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  color:#108ee9;
  background: white;
  border:none!important;
  border-left: 1px solid #ddd!important;
  border-radius: 0!important;
}
.registerInput .sendCaptcha .sendTxt::before{
  border:none!important;
}
.registerInput .sendCaptcha .am-button-disabled::before{
  border:none!important;
}
.registerInput .sendCaptcha .am-button-disabled{
  color:#434343;
}
.emailCode .am-list-item .am-input-control input{
  width: 60%;
}
