.selfAssetsDom {
    position: absolute;
    width: 100%;
    overflow: auto;
    /* height: auto; */
    margin-top: 40px;
    margin-bottom: 60px;
    /*background: white;*/
}

.selfAssetsDom .walletAddress {
    padding: 15px 15px 45px 15px;
    /* background: #0099ff; */
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    /* background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0');  */
    background-image: linear-gradient(to top, #66b7f9, #1c82d4)
}

.selfAssetsDom .walletIcon {
    float: left;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    /* border:1px solid white; */
    margin-right: 15px;
}

.selfAssetsDom .noAssets {
    padding: 20px;
    text-align: center;
    color: #888;
}

.selfAssetsDom .walletIcon img {
    width: 100%;
    height: 100%;
    display: block;
}

.selfAssetsDom .walletContent {
    float: left;
}

.walletContent p {
    margin: 0;
    padding: 0;
    color: white;
}

.walletAddress .totalAmount {
    position: absolute;
    top: 70px;
    right: 15px;
    color: white;
    font-size: 14px;
}

.walletContent .walletName {
    font-size: 16px;
}

.walletContent .selfAddress {
    font-size: 12px;
    padding-top: 5px;
}

.chooseItem {
    position: absolute;
    top: 15px;
    right: 15px;
}

.selfAssetsDom .coinList {
    margin-top: 40px;
}

.coinList .coinDetail {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #ccc;
    clear: both;
    overflow: hidden;
}

.coinList .coinImg {
    float: left;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.coinList .coinAmount {
    float: right;
    height: 30px;
}

.coinList .coinAmount p {
    margin: 0;
    padding: 0;
    text-align: right;
}

.coinList .coinAmount .coinValue {
    font-size: 14px;
}

.coinList .coinAmount .RMBValue {
    font-size: 12px;
    color: #ccc;
    padding-top: 2px;
}

.coinList .coinName {
    float: left;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}

#qrImg {
    width: 180px !important;
    height: 180px !important;
    margin: 0 auto;
}

.copyTxt {
    width: 40px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: white;
    background: #108ee9;
    margin: 0 auto;
}

.addCurrency {
    text-align: center;
    padding: 10px 0;
    border: 1px #888 dashed;
    border-radius: 6px;
    background: white;
    color: #888;
    /* background-image: linear-gradient(to top, #66b7f9,#1c82d4) */
}

.addCurrency .am-icon-md {
    width: 15px;
    height: 15px;
}

.assetsHeader {
    height: 80px;
    background: #008cec;
    padding: 20px;
    color: white;
}

.assetsHeader .colDiv {
    width: 33.33%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.assetsHeader img {
    width: 36px;
    height: 36px;
}

.assetsHeader a {
    color: white;
}

.assetsDom .account {
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 1.8;
    word-wrap: break-word;
}

.assetsDom .account span {
    font-size: 12px;
    color: #e7e7e7;

}

.withdraw {
    height: 100%;
}

.coin {
    min-height: 120px;
    background: white;
    font-size: 14px;

}

.coin .title {
    height: 30px;
    line-height: 3;
    padding: 0px 15px;
}

.coin .title .left {
    width: 20%;
    float: left;
    text-align: left;
}

.coin .title .right {
    width: 80%;
    float: right;
    text-align: right;
    color: #008cec;
}

.coin .content {
    height: 70px;
}

.address {
    min-height: 135px;
    background: white;
    font-size: 14px;
    overflow: hidden;
}

.address .title {
    height: 30px;
    line-height: 3;
    padding: 0px 15px;
}

.address .title .left {
    width: 50%;
    float: left;
    text-align: left;
}

.address .title .right {
    width: 50%;
    float: right;
    text-align: right;
    color: #008cec;
}

.address .content {
    height: 70px;
    float: left;
    width: 100%;
}

.withdraw .bottom {
    position: fixed;
    width: 100%;
    bottom: 0;

}

.withdraw .bottom .left {
    width: 30%;
    float: left;
}

.withdraw .bottom .right {
    width: 70%;
    float: right;
}

.payConfirm .l {
    width: 20%;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #888;
}

.payConfirm .r {
    width: 70%;
    float: left;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}

.result-example .spe {
    width: 60px;
    height: 60px;
}

.sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
    margin-left: 15px;
}

.paymentPassword {
    width: 100% !important;
    float: left !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    word-wrap: break-word
}

.fee {
    min-height: 45px;
    background: white;
    font-size: 14px;
    overflow: hidden;
    clear: both;
}

.fee .title {
    height: 30px;
    line-height: 3;
    padding: 0px 15px;
}

.fee .title .left {
    width: 20%;
    float: left;
    text-align: left;
}

.fee .title .right {
    width: 80%;
    float: left;
    text-align: left;
    color: #008cec;
}

.fee .content {
    height: 70px;
    float: left;
    width: 100%;
}

.popup-list .am-list-body {
    height: 210px;
    overflow: auto;
}

.payConfirmButton {
    width: 100%;
}

.payConfirmButton .l {
    width: 28%;
    float: left;
    padding: 0px 2px;
}

.payConfirmButton .r {
    width: 65%;
    float: right;
    padding: 0px 3px;
}

.textAutoHidden {
    display:block;
    /*width:31em;*/
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}