.personalInfo{
  padding:15px;
  overflow: hidden;
  background: #008cec;
  margin: 30px 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  color: white
}
.userAvatar{
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
}
.userAvatar #upload{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.userAvatar #upload #pic{
  width: 100%;
  height: 100%;
}
.userAvatar .avatarImg{
  width: 100%;
  display: block;
  border-radius: 5px;
}
.userInfo{
  float: left;
}
.userInfo p{
  margin:0;
  padding:0;
  padding:6px 0;
}
.userInfo .userName{
  font-size: 16px;
}
.userAddress{
  color: #ccc;
}
.my-list .spe .am-list-extra {
  flex-basis: initial;
}
.user-list .am-list-body{
  padding:15px;
  overflow: hidden;
  background: white;
  margin: 30px 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.user-list .am-list-body .am-list-item{
  min-height: 64px;
}





.layoutDom .am-navbar{
  /*border-bottom:1px solid #ccc;*/
  /* height: 60px; */
  position: absolute;
  top: 0;
  width: 100%;
}
.layoutDom .am-navbar-left{
  font-size: 18px;
}
.layoutDom .am-navbar-title{
  font-size: 16px;
}
.layoutDom .logoDom{
  height: 60px;
  width: 60px;
  padding-top: 5px;
}
.layoutDom .logoDom img{
  width: 50px;
  height: 50px;
}
.cars{

}


#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

.selfIcon{
  width: 18px!important;
  height: 18px!important;
}
